---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632593651,"sunrise":1632574237,"sunset":1632617539,"temp":299.91,"feels_like":299.09,"pressure":1016,"humidity":20,"dew_point":275.1,"uvi":5.77,"clouds":1,"visibility":10000,"wind_speed":0.45,"wind_deg":114,"wind_gust":2.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632593700,"precipitation":0},{"dt":1632593760,"precipitation":0},{"dt":1632593820,"precipitation":0},{"dt":1632593880,"precipitation":0},{"dt":1632593940,"precipitation":0},{"dt":1632594000,"precipitation":0},{"dt":1632594060,"precipitation":0},{"dt":1632594120,"precipitation":0},{"dt":1632594180,"precipitation":0},{"dt":1632594240,"precipitation":0},{"dt":1632594300,"precipitation":0},{"dt":1632594360,"precipitation":0},{"dt":1632594420,"precipitation":0},{"dt":1632594480,"precipitation":0},{"dt":1632594540,"precipitati[...]
