---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1633632855,"sunrise":1633611730,"sunset":1633653172,"temp":296.54,"feels_like":295.59,"pressure":1013,"humidity":25,"dew_point":275.42,"uvi":5.61,"clouds":97,"visibility":10000,"wind_speed":0.45,"wind_deg":337,"wind_gust":1.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1633632900,"precipitation":0},{"dt":1633632960,"precipitation":0},{"dt":1633633020,"precipitation":0},{"dt":1633633080,"precipitation":0},{"dt":1633633140,"precipitation":0},{"dt":1633633200,"precipitation":0},{"dt":1633633260,"precipitation":0},{"dt":1633633320,"precipitation":0},{"dt":1633633380,"precipitation":0},{"dt":1633633440,"precipitation":0},{"dt":1633633500,"precipitation":0},{"dt":1633633560,"precipitation":0},{"dt":1633633620,"precipitation":0},{"dt":1633633680,"precipitation":0},{"dt":1633633740,"precipitati[...]
