---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.9847,"lat":39.7392},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"base":"stations","main":{"temp":288.27,"feels_like":286.8,"temp_min":283.91,"temp_max":291.96,"pressure":1015,"humidity":37},"visibility":10000,"wind":{"speed":0.45,"deg":325},"clouds":{"all":95},"dt":1632462904,"sys":{"type":2,"id":2013379,"country":"US","sunrise":1632401325,"sunset":1632444938},"timezone":-21600,"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Fri, 24 Sep 2021 06:05:14 GMT
recorded_with: VCR 6.0.0
